.benefits {
    text-transform: uppercase;
    color: var(--main-title-cl);
    background-color: var(--card-bg-cl);
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits__list {
    display: flex;
    gap: 30px;
}
.benefits__list-item {
    list-style-type: none;
    width: 270px;
}

.benefits__title {
    color: var(--main-title-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.benefits__text {
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--main-txt-cl);
}