.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--light-bg-cl);
}

.team-title {
    color: var(--main-title-cl);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.team-list {
    display: flex;
    gap: 30px;
}
.list-item-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--card-bg-cl);
}
.card {
    padding-top: 30px;
    padding-bottom: 30px;
}
.name {
    color: var(--main-title-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.specialty {
    color: var(--main-txt-cl);
    font-size: 16px;
    text-align: center;
    line-height: 1.19;
    margin-bottom: 16px;
}

.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.social-links {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-links);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: var(--card-bg-cl);
    background-color: var(--span-bg-cl);
}
}


.socials-icon {
    fill: currentColor;
}