.page {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration: none;
}
.section {
    padding: 94px 0;
    width: 100%;
}
